button {
	height: 51px;
	width: 122px;
	position: relative;
	background-color: #6495ED;
	border-color: #000000;
}

ul {
	padding: 0px;
}

li {
	word-wrap: break-word;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h1, h2, h3, h4 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}

img {
	height: 40px;
	width: 35px,;
	float: left;
}

#chat {
	width: 460px;
	height: 51px;
	border-color: #000000;
	position: relative;
}

#mine {
	background-color:white;
	height:300px;
	width: 582px;
	border:2px solid;
	border-color:#000000;
	overflow-y: scroll;
}
